## Import thư viện

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

## Đọc data

In [2]:
sale_detail_df = pd.read_excel(r'C:\Users\Asus\Downloads\AdventureWork2022\data\OrderDetail.xlsx')
sale_detail_df.head()

,SalesOrderID,SalesOrderDetailID,CarrierTrackingNumber,OrderQty,ProductID,SpecialOfferID,UnitPrice,UnitPriceDiscount,LineTotal,rowguid,ModifiedDate
0,2019-07-13,1,4911-403C-98,1,776,1,2024.994,0.0,2024.994,B207C96D-D9E6-402B-8470-2CC176C42283,2011-05-31
1,2019-07-13,2,4911-403C-98,3,777,1,2024.994,0.0,6074.982,7ABB600D-1E77-41BE-9FE5-B9142CFC08FA,2011-05-31
2,2019-07-13,3,4911-403C-98,1,778,1,2024.994,0.0,2024.994,475CF8C6-49F6-486E-B0AD-AFC6A50CDD2F,2011-05-31
3,2019-07-13,4,4911-403C-98,1,771,1,2039.994,0.0,2039.994,04C4DE91-5815-45D6-8670-F462719FBCE3,2011-05-31
4,2019-07-13,5,4911-403C-98,1,772,1,2039.994,0.0,2039.994,5A74C7D2-E641-438E-A7AC-37BF23280301,2011-05-31

In [3]:
sale_detail_df.isnull().sum()

SalesOrderID                 0
SalesOrderDetailID           0
CarrierTrackingNumber    60398
OrderQty                     0
ProductID                    0
SpecialOfferID               0
UnitPrice                    0
UnitPriceDiscount            0
LineTotal                    0
rowguid                      0
ModifiedDate                 0
dtype: int64

In [4]:
customer_df = pd.read_excel(r'C:\Users\Asus\Downloads\AdventureWork2022\data\Customer.xlsx')
customer_df.head()

,CustomerID,PersonID,StoreID,TerritoryID,AccountNumber,rowguid,ModifiedDate
0,1,NaN,934.0,1,AW00000001,3F5AE95E-B87D-4AED-95B4-C3797AFCB74F,2014-09-12
1,2,NaN,1028.0,1,AW00000002,E552F657-A9AF-4A7D-A645-C429D6E02491,2014-09-12
2,3,NaN,642.0,4,AW00000003,130774B1-DB21-4EF3-98C8-C104BCD6ED6D,2014-09-12
3,4,NaN,932.0,4,AW00000004,FF862851-1DAA-4044-BE7C-3E85583C054D,2014-09-12
4,5,NaN,1026.0,4,AW00000005,83905BDC-6F5E-4F71-B162-C98DA069F38A,2014-09-12

In [5]:
customer_df = customer_df[~customer_df["PersonID"].isnull()]

In [6]:
sale_header_df = pd.read_excel(r'C:\Users\Asus\Downloads\AdventureWork2022\data\OrderHeader.xlsx')
sale_header_df.head()

,SalesOrderID,RevisionNumber,OrderDate,DueDate,ShipDate,Status,OnlineOrderFlag,SalesOrderNumber,PurchaseOrderNumber,AccountNumber,...,CreditCardID,CreditCardApprovalCode,CurrencyRateID,SubTotal,TaxAmt,Freight,TotalDue,Comment,rowguid,ModifiedDate
0,2019-07-13,8,2011-05-31,2011-06-12,2011-06-07,5,0,SO43659,PO522145787,10-4020-000676,...,16281.0,105041Vi84182,NaN,20565.6206,1971.5149,616.0984,23153.2339,NaN,79B65321-39CA-4115-9CBA-8FE0903E12E6,2011-06-07
1,2019-07-14,8,2011-05-31,2011-06-12,2011-06-07,5,0,SO43660,PO18850127500,10-4020-000117,...,5618.0,115213Vi29411,NaN,1294.2529,124.2483,38.8276,1457.3288,NaN,738DC42D-D03B-48A1-9822-F95A67EA7389,2011-06-07
2,2019-07-15,8,2011-05-31,2011-06-12,2011-06-07,5,0,SO43661,PO18473189620,10-4020-000442,...,1346.0,85274Vi6854,4.0,32726.4786,3153.7696,985.5530,36865.8012,NaN,D91B9131-18A4-4A11-BC3A-90B6F53E9D74,2011-06-07
3,2019-07-16,8,2011-05-31,2011-06-12,2011-06-07,5,0,SO43662,PO18444174044,10-4020-000227,...,10456.0,125295Vi53935,4.0,28832.5289,2775.1646,867.2389,32474.9324,NaN,4A1ECFC0-CC3A-4740-B028-1C50BB48711C,2011-06-07
4,2019-07-17,8,2011-05-31,2011-06-12,2011-06-07,5,0,SO43663,PO18009186470,10-4020-000510,...,4322.0,45303Vi22691,NaN,419.4589,40.2681,12.5838,472.3108,NaN,9B1E7A40-6AE0-4AD3-811C-A64951857C4B,2011-06-07

In [7]:
sale_header_df.isnull().sum()

SalesOrderID                  0
RevisionNumber                0
OrderDate                     0
DueDate                       0
ShipDate                      0
Status                        0
OnlineOrderFlag               0
SalesOrderNumber              0
PurchaseOrderNumber       27659
AccountNumber                 0
CustomerID                    0
SalesPersonID             27659
TerritoryID                   0
BillToAddressID               0
ShipToAddressID               0
ShipMethodID                  0
CreditCardID               1131
CreditCardApprovalCode     1131
CurrencyRateID            17489
SubTotal                      0
TaxAmt                        0
Freight                       0
TotalDue                      0
Comment                   31465
rowguid                       0
ModifiedDate                  0
dtype: int64

In [8]:
person_df = pd.read_excel(r'C:\Users\Asus\Downloads\AdventureWork2022\data\Person.xlsx')
person_df.head()

,BusinessEntityID,PersonType,NameStyle,Title,FirstName,MiddleName,LastName,Suffix,EmailPromotion,AdditionalContactInfo,Demographics,rowguid,ModifiedDate
0,1,EM,0,NaN,Ken,J,Sánchez,NaN,0,NaN,"<IndividualSurvey xmlns=""http://schemas.micros...",92C4279F-1207-48A3-8448-4636514EB7E2,2009-01-07
1,2,EM,0,NaN,Terri,Lee,Duffy,NaN,1,NaN,"<IndividualSurvey xmlns=""http://schemas.micros...",D8763459-8AA8-47CC-AFF7-C9079AF79033,2008-01-24
2,3,EM,0,NaN,Roberto,NaN,Tamburello,NaN,0,NaN,"<IndividualSurvey xmlns=""http://schemas.micros...",E1A2555E-0828-434B-A33B-6F38136A37DE,2007-11-04
3,4,EM,0,NaN,Rob,NaN,Walters,NaN,0,NaN,"<IndividualSurvey xmlns=""http://schemas.micros...",F2D7CE06-38B3-4357-805B-F4B6B71C01FF,2007-11-28
4,5,EM,0,Ms.,Gail,A,Erickson,NaN,0,NaN,"<IndividualSurvey xmlns=""http://schemas.micros...",F3A3F6B4-AE3B-430C-A754-9F2231BA6FEF,2007-12-30

In [9]:
person_df.isnull().sum()

BusinessEntityID             0
PersonType                   0
NameStyle                    0
Title                    18963
FirstName                    0
MiddleName                8499
LastName                     0
Suffix                   19919
EmailPromotion               0
AdditionalContactInfo    19962
Demographics                 0
rowguid                      0
ModifiedDate                 0
dtype: int64

In [10]:
person_df.Title

0        NaN
1        NaN
2        NaN
3        NaN
4        Ms.
        ...
19967    NaN
19968    NaN
19969    NaN
19970    NaN
19971    NaN
Name: Title, Length: 19972, dtype: object

In [11]:
product_df = pd.read_excel(r'C:\Users\Asus\Downloads\AdventureWork2022\data\Product.xlsx')
product_df.head()

,ProductID,Name,ProductNumber,MakeFlag,FinishedGoodsFlag,Color,SafetyStockLevel,ReorderPoint,StandardCost,ListPrice,...,ProductLine,Class,Style,ProductSubcategoryID,ProductModelID,SellStartDate,SellEndDate,DiscontinuedDate,rowguid,ModifiedDate
0,1,Adjustable Race,AR-5381,0,0,NaN,1000,750,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,2008-04-30,NaN,NaN,694215B7-08F7-4C0D-ACB1-D734BA44C0C8,2014-02-08
1,2,Bearing Ball,BA-8327,0,0,NaN,1000,750,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,2008-04-30,NaN,NaN,58AE3C20-4F3A-4749-A7D4-D568806CC537,2014-02-08
2,3,BB Ball Bearing,BE-2349,1,0,NaN,800,600,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,2008-04-30,NaN,NaN,9C21AED2-5BFA-4F18-BCB8-F11638DC2E4E,2014-02-08
3,4,Headset Ball Bearings,BE-2908,0,0,NaN,800,600,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,2008-04-30,NaN,NaN,ECFED6CB-51FF-49B5-B06C-7D8AC834DB8B,2014-02-08
4,316,Blade,BL-2036,1,0,NaN,800,600,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,2008-04-30,NaN,NaN,E73E9750-603B-4131-89F5-3DD15ED5FF80,2014-02-08

In [12]:
product_df.isnull().sum()

ProductID                  0
Name                       0
ProductNumber              0
MakeFlag                   0
FinishedGoodsFlag          0
Color                    248
SafetyStockLevel           0
ReorderPoint               0
StandardCost               0
ListPrice                  0
Size                     293
SizeUnitMeasureCode      328
WeightUnitMeasureCode    299
Weight                   299
DaysToManufacture          0
ProductLine              226
Class                    257
Style                    293
ProductSubcategoryID     209
ProductModelID           209
SellStartDate              0
SellEndDate              406
DiscontinuedDate         504
rowguid                    0
ModifiedDate               0
dtype: int64

In [13]:
territory_df = pd.read_excel(r'C:\Users\Asus\Downloads\AdventureWork2022\data\Territory.xlsx')
territory_df.head()

,TerritoryID,Name,CountryRegionCode,Group,SalesYTD,SalesLastYear,CostYTD,CostLastYear,rowguid,ModifiedDate
0,1,Northwest,US,North America,7.887187e+06,3298694.494,0,0,43689A10-E30B-497F-B0DE-11DE20267FF7,2008-04-30
1,2,Northeast,US,North America,2.402177e+06,3607148.937,0,0,00FB7309-96CC-49E2-8363-0A1BA72486F2,2008-04-30
2,3,Central,US,North America,3.072175e+06,3205014.077,0,0,DF6E7FD8-1A8D-468C-B103-ED8ADDB452C1,2008-04-30
3,4,Southwest,US,North America,1.051085e+07,5366575.710,0,0,DC3E9EA0-7950-4431-9428-99DBCBC33865,2008-04-30
4,5,Southeast,US,North America,2.538667e+06,3925071.432,0,0,6DC4165A-5E4C-42D2-809D-4344E0AC75E7,2008-04-30

In [14]:
territory_df.isnull().sum()

TerritoryID          0
Name                 0
CountryRegionCode    0
Group                0
SalesYTD             0
SalesLastYear        0
CostYTD              0
CostLastYear         0
rowguid              0
ModifiedDate         0
dtype: int64

### Preprocessing

### 1. Nối các bảng lại với nhau tạo thành 1 bảng flat duy nhất

In [15]:
flat_df = pd.merge(sale_detail_df, sale_header_df, on='SalesOrderID', how='left', suffixes=('_detail', '_header'))
flat_df = pd.merge(flat_df, customer_df, on='CustomerID', how='left', suffixes=('', '_customer'))
flat_df = pd.merge(flat_df, person_df, left_on='PersonID', right_on='BusinessEntityID', how='left', suffixes=('', '_person'))
flat_df = pd.merge(flat_df, product_df, on='ProductID', how='left', suffixes=('', '_product'))
flat_df = pd.merge(flat_df, territory_df, on='TerritoryID', how='left', suffixes=('', '_territory'))

In [16]:
flat_df.head()

,SalesOrderID,SalesOrderDetailID,CarrierTrackingNumber,OrderQty,ProductID,SpecialOfferID,UnitPrice,UnitPriceDiscount,LineTotal,rowguid_detail,...,ModifiedDate_product,Name_territory,CountryRegionCode,Group,SalesYTD,SalesLastYear,CostYTD,CostLastYear,rowguid_territory,ModifiedDate_territory
0,2019-07-13,1,4911-403C-98,1,776,1,2024.994,0.0,2024.994,B207C96D-D9E6-402B-8470-2CC176C42283,...,2014-02-08,Southeast,US,North America,2538667.252,3925071.432,0,0,6DC4165A-5E4C-42D2-809D-4344E0AC75E7,2008-04-30
1,2019-07-13,2,4911-403C-98,3,777,1,2024.994,0.0,6074.982,7ABB600D-1E77-41BE-9FE5-B9142CFC08FA,...,2014-02-08,Southeast,US,North America,2538667.252,3925071.432,0,0,6DC4165A-5E4C-42D2-809D-4344E0AC75E7,2008-04-30
2,2019-07-13,3,4911-403C-98,1,778,1,2024.994,0.0,2024.994,475CF8C6-49F6-486E-B0AD-AFC6A50CDD2F,...,2014-02-08,Southeast,US,North America,2538667.252,3925071.432,0,0,6DC4165A-5E4C-42D2-809D-4344E0AC75E7,2008-04-30
3,2019-07-13,4,4911-403C-98,1,771,1,2039.994,0.0,2039.994,04C4DE91-5815-45D6-8670-F462719FBCE3,...,2014-02-08,Southeast,US,North America,2538667.252,3925071.432,0,0,6DC4165A-5E4C-42D2-809D-4344E0AC75E7,2008-04-30
4,2019-07-13,5,4911-403C-98,1,772,1,2039.994,0.0,2039.994,5A74C7D2-E641-438E-A7AC-37BF23280301,...,2014-02-08,Southeast,US,North America,2538667.252,3925071.432,0,0,6DC4165A-5E4C-42D2-809D-4344E0AC75E7,2008-04-30

In [17]:
flat_df.columns

Index(['SalesOrderID', 'SalesOrderDetailID', 'CarrierTrackingNumber',
       'OrderQty', 'ProductID', 'SpecialOfferID', 'UnitPrice',
       'UnitPriceDiscount', 'LineTotal', 'rowguid_detail',
       'ModifiedDate_detail', 'RevisionNumber', 'OrderDate', 'DueDate',
       'ShipDate', 'Status', 'OnlineOrderFlag', 'SalesOrderNumber',
       'PurchaseOrderNumber', 'AccountNumber', 'CustomerID', 'SalesPersonID',
       'TerritoryID', 'BillToAddressID', 'ShipToAddressID', 'ShipMethodID',
       'CreditCardID', 'CreditCardApprovalCode', 'CurrencyRateID', 'SubTotal',
       'TaxAmt', 'Freight', 'TotalDue', 'Comment', 'rowguid_header',
       'ModifiedDate_header', 'PersonID', 'StoreID', 'TerritoryID_customer',
       'AccountNumber_customer', 'rowguid', 'ModifiedDate', 'BusinessEntityID',
       'PersonType', 'NameStyle', 'Title', 'FirstName', 'MiddleName',
       'LastName', 'Suffix', 'EmailPromotion', 'AdditionalContactInfo',
       'Demographics', 'rowguid_person', 'ModifiedDate_person', 'Name',
       'ProductNumber', 'MakeFlag', 'FinishedGoodsFlag', 'Color',
       'SafetyStockLevel', 'ReorderPoint', 'StandardCost', 'ListPrice', 'Size',
       'SizeUnitMeasureCode', 'WeightUnitMeasureCode', 'Weight',
       'DaysToManufacture', 'ProductLine', 'Class', 'Style',
       'ProductSubcategoryID', 'ProductModelID', 'SellStartDate',
       'SellEndDate', 'DiscontinuedDate', 'rowguid_product',
       'ModifiedDate_product', 'Name_territory', 'CountryRegionCode', 'Group',
       'SalesYTD', 'SalesLastYear', 'CostYTD', 'CostLastYear',
       'rowguid_territory', 'ModifiedDate_territory'],
      dtype='object')

### 2. Kiểm tra NULL

In [18]:
null_counts = flat_df.isnull().sum()
null_counts[null_counts > 0]

CarrierTrackingNumber      60398
PurchaseOrderNumber        60398
SalesPersonID              60398
CreditCardID                2573
CreditCardApprovalCode      2573
CurrencyRateID             75284
Comment                   121317
StoreID                    60398
Title                      60800
MiddleName                 52820
Suffix                    117121
AdditionalContactInfo     119939
Color                      34145
Size                       51582
SizeUnitMeasureCode        70668
WeightUnitMeasureCode      66867
Weight                     66867
ProductLine                 2288
Class                      57443
Style                      49274
SellEndDate                99469
DiscontinuedDate          121317
dtype: int64

In [82]:
flat_df

,SalesOrderID,SalesOrderDetailID,CarrierTrackingNumber,OrderQty,ProductID,SpecialOfferID,UnitPrice,UnitPriceDiscount,LineTotal,rowguid_detail,...,ModifiedDate_product,Name_territory,CountryRegionCode,Group,SalesYTD,SalesLastYear,CostYTD,CostLastYear,rowguid_territory,ModifiedDate_territory
0,2019-07-13,1,4911-403C-98,1,776,1,2024.994,0.0,2024.994,B207C96D-D9E6-402B-8470-2CC176C42283,...,2014-02-08,Southeast,US,North America,2538667.252,3925071.432,0,0,6DC4165A-5E4C-42D2-809D-4344E0AC75E7,2008-04-30
1,2019-07-13,2,4911-403C-98,3,777,1,2024.994,0.0,6074.982,7ABB600D-1E77-41BE-9FE5-B9142CFC08FA,...,2014-02-08,Southeast,US,North America,2538667.252,3925071.432,0,0,6DC4165A-5E4C-42D2-809D-4344E0AC75E7,2008-04-30
2,2019-07-13,3,4911-403C-98,1,778,1,2024.994,0.0,2024.994,475CF8C6-49F6-486E-B0AD-AFC6A50CDD2F,...,2014-02-08,Southeast,US,North America,2538667.252,3925071.432,0,0,6DC4165A-5E4C-42D2-809D-4344E0AC75E7,2008-04-30
3,2019-07-13,4,4911-403C-98,1,771,1,2039.994,0.0,2039.994,04C4DE91-5815-45D6-8670-F462719FBCE3,...,2014-02-08,Southeast,US,North America,2538667.252,3925071.432,0,0,6DC4165A-5E4C-42D2-809D-4344E0AC75E7,2008-04-30
4,2019-07-13,5,4911-403C-98,1,772,1,2039.994,0.0,2039.994,5A74C7D2-E641-438E-A7AC-37BF23280301,...,2014-02-08,Southeast,US,North America,2538667.252,3925071.432,0,0,6DC4165A-5E4C-42D2-809D-4344E0AC75E7,2008-04-30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121312,2105-09-03,121313,NaN,1,878,1,21.980,0.0,21.980,8CAD6675-18CC-4F47-8287-97B41A8EE47D,...,2014-02-08,Canada,CA,North America,6771829.138,5693988.860,0,0,06B4AF8A-1639-476E-9266-110461D66B00,2008-04-30
121313,2105-09-03,121314,NaN,1,712,1,8.990,0.0,8.990,84F1C363-1C50-4442-BE16-541C59B6E12C,...,2014-02-08,Canada,CA,North America,6771829.138,5693988.860,0,0,06B4AF8A-1639-476E-9266-110461D66B00,2008-04-30
121314,2105-09-04,121315,NaN,1,878,1,21.980,0.0,21.980,C18B6476-429F-4BB1-828E-2BE5F82A0A51,...,2014-02-08,Canada,CA,North America,6771829.138,5693988.860,0,0,06B4AF8A-1639-476E-9266-110461D66B00,2008-04-30
121315,2105-09-04,121316,NaN,1,879,1,159.000,0.0,159.000,75A89C6A-C60A-47EA-8A52-B52A9C435B64,...,2014-02-08,Canada,CA,North America,6771829.138,5693988.860,0,0,06B4AF8A-1639-476E-9266-110461D66B00,2008-04-30
121316,2105-09-04,121317,NaN,1,712,1,8.990,0.0,8.990,73646D26-0461-450D-8019-2C6C858619CA,...,2014-02-08,Canada,CA,North America,6771829.138,5693988.860,0,0,06B4AF8A-1639-476E-9266-110461D66B00,2008-04-30